/* Name: James Holland */
/* File: style-mobile.css */

@font-face {
	font-family: NotoSans;
	src: 		 url("../fonts/NotoSans.ttf") format("truetype");
}

#map {
	max-width: 100%;
	display: block;
	width:   300px;
	height:  200px;	
}

body {
	font-family: 	  "NotoSans", sans-serif; /* fallback font is sans-serif */
	background-color: #ffde22; /* yellow */
	padding-left: 	  80px;
	padding-bottom:   10px;
	text-align:   	  left;
}

.container {
	max-width: 			   100%;
	display: 			   grid;
	grid-template-rows: auto auto auto;
	gap: 				   10px
}

.rand-button {
	max-width: 		  100%;
	background-color: #ff8928; /* orange */
	border:			  #ff8928;
	color: 			  black;
	width: 			  200px;
	height: 		  100px;	
	text-align: 	  center;
	font-size: 		  16px;
	cursor: 		  pointer;
}

.rand-button:hover {
	background-color: #ffde22; /* yellow */
	border:			  1px solid #ff8928; /* orange */
	color: 			  #ff8928;
	width: 			  300px;
	height: 		  100px;	
	text-align: 	  center;
	font-size: 		  16px;
	cursor: 		  pointer;
}

.collapse-button {
	background-color: inherit;
	border: 		  none;
	color:			  black;
	width:			  40px;
	height:			  30px;
	cursor:			  pointer;
}

.logo-button {
	max-width: 100%;
	background-color: inherit;
	border: 		  transparent;
	cursor: 		  pointer;
	transition: 	  transform .7s ease-in-out;
	padding-left: 	  25px !important;
}

.logo-button:hover {
	transform: rotate(360deg);
}
/* Got nav menu CSS from https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
/* sidebar menu */
.sidenav {
	max-width: 100%;
	height:   		  100%;
	width: 	  		  80px;
	position: 		  fixed; /* won't move on scroll */
	z-index:  		  1;
	top: 	  		  0;
	right: 	  		  0;
	background-color: #ff8928; /* orange */
	overflow-x: 	  hidden;
	padding-top: 	  20px;
}

/* navigation menu links */
.sidenav a {
	max-width: 		 100%;
	padding: 		 6px 10px 6px 6px;
	padding-right:   5px;
	text-decoration: none;
	font-size: 		 12px;
	color: 			 black;
	display: 		 block;
}

/* mouse hover on sidenav bar*/
.sidenav a:hover {
	color: #ffde22; /* yellow */
}