/* Name: James Holland */
/* File style.css */

@font-face {
	font-family: NotoSans;
	src: url("./fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
}

.flex-container { /* forces children in container to be side-by-side */
	display: 	 	 flex;
	gap: 	     	 15px;
	justify-content: center;
}

.left-column { /* stacks button and text next to map */
	display: 		flex;
	flex-direction: column;
	gap: 			10px;
}

#map {
	display: 	   block;
	width: 		   600px;
	height:        500px;	
}

body {
	font-family: "NotoSans", sans-serif; /* fallback font is sans-serif */
	background-color: SkyBlue; 
}

.button {
	background-color: slategray;
	border:1px solid #000000;
	color: white;
	width: 300px;
	height: 100px;	
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}